doctype 5
html
  head
    title ToDoList
    link(rel='stylesheet', href='/css/style.css')
  body
    if (authenticated)
      ul
        li
          a(id="user", href="/user/#{me.name}") #{me.name}
        li
          a(href="/logout") Logout
        li(id="project") #{me.currentProject.name}
      div(class="cleaner")
      div(id="ele") Owers:
        ul(id="owners")
        input(id="addUser", type="text")
        input(id="addUserButton", type="button", value="add User to this project")
        
    else
      ul
        li: a(href="/login") Login
        li: a(href="/signup") Sign up
        li Public Lists
    div(class="cleaner")
    hr
    block body
    div(class="cleaner")
    hr
    footer
     p Copyright Mirreal's Notes 2014
