extends layout
block body
  div(id="inputArea")
    h2 ToDoLists
    input(type="text", id="input", placeholder="Please input...")
    button(id="send") Submit
  ul(id="todolists")
  div(class="cleaner")
  link(rel="stylesheet", href="/css/list.css")
  script(src="/js/socket.io.min.js")
  script(src="/js/lists.js")
