extends layout
block body
  div(id="inputArea")
    h2 ToDoLists
    input(type="text", id="input", placeholder="Please input...")
  ul(id="todolists")
  script(src="/js/socket.io.min.js")
  script(src="/js/list.js")
